apiVersion: apps/v1
kind: Deployment
metadata:
  name: obp-mock-pod-{{ ns_name }}
 # namespace: pfm-stage
  labels:
    app: obp-mock-{{ ns_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: obp-mock-{{ ns_name }}
  template:
    metadata:
      labels:
        app: obp-mock-{{ ns_name }}
    spec:
      containers:
      - name: obp-mock
        image: 063523468743.dkr.ecr.us-east-2.amazonaws.com/pfm/obmpock.api:{{ tag_id }}
        ports:
        - containerPort: 80 
        livenessProbe:
          httpGet:
            path: /obp/auth
            port: 80
          initialDelaySeconds: 4
        env:
          - name: ASPNETCORE_URLS
            value: http://+:80
          - name: ASPNETCORE_ENVIRONMENT
            value: Development
          - name: PFM_SERVICE_NAME
            value: obp
