apiVersion: v1
kind: ConfigMap
metadata:
  name: svc-vars-{{ ns_name }}
  labels:
    app: svc-vars-{{ ns_name }}
data:
  ASPNETCORE_URLS: "http://+:80"
  ASPNETCORE_ENVIRONMENT: Development
  PFM_BASE_URL: http://a3be737fd2d7311ea817c06e49928bf3-986484607.eu-west-1.elb.amazonaws.com