apiVersion: v1
kind: ConfigMap
metadata:
  name: svc-vars-{{ ns_name }}
  labels:
    app: svc-vars-{{ ns_name }}
data:
  ASPNETCORE_URLS: "http://+:80"
  ASPNETCORE_ENVIRONMENT: Staging
#  PFM_SERVICE_NAME: auth
  PFM_BASE_URL: afe59d533393211ea817c06e49928bf3-277426366.eu-west-1.elb.amazonaws.com 