apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-proxy-pod-{{ ns_name }}
  labels:
    env: nginx-{{ ns_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-{{ ns_name }}
  template:
    metadata:
      labels:
        app: nginx-{{ ns_name }}
    spec:
      containers:
      - name:  nginx-proxy
        image: nginx
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /etc/nginx/conf.d
          name: configmap-volume

      volumes:
      - name: configmap-volume
        configMap:
          name: nginx-proxy-pod-config-{{ ns_name }}
