apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-proxy-pod-config-{{ ns_name }}
  labels:
    app: nginx-{{ ns_name }}
data:
  pfm_config.conf: |
    upstream obp.api {
         server obp-mock-svc-{{ ns_name }}:80;
    }
    upstream obpexporter.service {
         server obp-exporter-svc-{{ ns_name }}:80;
    }

    server {
        listen 80;
    
       # server_name 10.1.3.108;    
 
         location ~* ^\/(v1\/obpexporter|obpexporter) {
            proxy_pass http://obpexporter.service;
            proxy_http_version 1.1;
            proxy_set_header   Upgrade $http_upgrade;
            proxy_set_header   Connection keep-alive;
            proxy_set_header   Host $host;
            proxy_cache_bypass $http_upgrade;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Proto $scheme;
            add_header X-iOS-Min-Version 1 always;
            add_header X-Android-Min-Version 1 always;
           }   
         location ~* ^\/(obp|v1\/obp) {
            proxy_pass http://obp.api;
            proxy_http_version 1.1;
            proxy_set_header   Upgrade $http_upgrade;
            proxy_set_header   Connection keep-alive;
            proxy_set_header   Host $host;
            proxy_cache_bypass $http_upgrade;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Proto $scheme;
            add_header X-iOS-Min-Version 1 always;
            add_header X-Android-Min-Version 1 always;
           }
     
    }
